<div class="panel panel-default">
    <div class="panel-head">
        <h2>#{{tagName}}</h2>
    </div>
    <table class="table" *ngIf="messages && messages.length">
        <thead>
            <tr>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let message of messages">
                <td>{{message.text}}</td>
                <td>{{message.date}}</td>
            </tr>
        </tbody>
    </table>
</div>