<div class='panel panel-default'>
    <div class='panel-header'>
    </div>
    <div class='panel-body'>
        <table class="table" *ngIf='tags && tags.length'>
            <thead>
                <tr>
                    <th>Tag</th>
                    <th># Messages</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tag of tags">
                    <td>
                        <a [routerLink]="['/tag', tag.id]" (click)="onSelectTag(tag)">#{{tag.text}}</a></td>
                    <td>{{tag.numberMessages}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>