<div class='panel panel-default'>
    <div class='panel-header'>
    </div>
    <div class='panel-body'>
        <table class="table" *ngIf='responses && responses.length'>
            <thead>
                <tr>
                    <th>Tag</th>
                    <th># Responses</th>
                </tr>
            </thead>
            <tbody> 
                <tr *ngFor='let response of responses'>
                    <td>{{response.tags[0]}}</td>
                    <td>{{response.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>