<div class='panel panel-default'>
    <div class='panel-header'>
    </div>
    <div class='panel-body'>
        <table class="table">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th># Responses</th>
                </tr>
            </thead>
            <tbody> 
                <tr>
                    <td>#howitsdone</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>#whatnottowear</td>
                    <td>134</td>
                </tr>
                <tr>
                    <td>#thisistheplace</td>
                    <td>47</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>